.skdet-form {
	margin: 24px 0;
	padding: 24px;
	border: 1px solid black;
}

.skdet-form label {
	display: block;
	max-width: 100%;
}

.skdet-form input,
.skdet-form textarea {
	max-width: 100%;
}

.skdet-form-element {
	margin: 12px 0;
}

.skdet-form .success {
	background-color: rgba( 0, 255, 0, 0.35 );
	border: 1px solid green;
	margin: 24px 0 0 0;
	padding: 12px;
}

.skdet-form .error {
	background-color: rgba( 255, 0, 0, 0.35 );
	border: 1px solid red;
	margin: 24px 0 0 0;
	padding: 12px;
}

.skdet-customer-wrapper {
	border-bottom: 1px dashed #ddd;
	padding: 24px 0;
	margin: 12px 0;
}

.skdet-customer-wrapper .skdet-customer-data {
	margin: 0;
}

.skdet-customer-wrapper .not-provided {
	font-style: italic;
}